body {
    font-family: arial;
}

.header {
    height: 100px;
    width: 100%;
    background:#ccc;
    padding: 10px;
}

table tr td {
    margin: 3px;
    padding: 0px;
    border: 1px;
}

table.list tr td table {
    padding: 10px;
    border-right: 2px solid #aaa;
}

table.list tr td table tr td{
    border: 1px solid #aaa;
    text-align: left;
    margin: 0px;
    padding: 0px
}

button {
    border:2px solid #6b9311;
    font-weight:bold;
    font-size: 14px;
    padding: 10px;
    box-shadow: 3px 3px;
}

