{% extends '::base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <td>
               <h2> Request Help </h2>
                <div class="form">
                    <form id="" name="requirement" method="post" {{ form_enctype(form_requirement) }}>

                        <table>
                            <tr>
                                <td> We need : </td>
                                <td> {{ form_widget(form_requirement.profession) }} </td>
                            </tr>

                            <tr>
                                <td> In (district): </td>
                                <td> {{ form_widget(form_requirement.address1) }} </td>
                            </tr>
                            <tr>
                                <td> Village: </td>
                                <td> {{ form_widget(form_requirement.address2) }} </td>
                            </tr>

                            <tr>
                                <td> Contact Phone: </td>
                                <td> {{ form_widget(form_requirement.contact_phone) }} </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td> 
                                <td> </td>
                            </tr>
                            <tr> 
                                <td> {{ form_widget(form_requirement.save_requirement) }} </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
            <td>
                <h2> Offer Help </h2>
                <div class="form">

                    <form id="" name="availability" method="post" {{ form_enctype(form_availability) }}>
                        <table>
                            <tr>
                                <td> I am : </td> 
                                <td> {{ form_widget(form_availability.profession) }} </td>
                            </tr>

                            <tr> 
                                <td> In (district): </td> 
                                <td> {{ form_widget(form_availability.address1) }} </td>
                            </tr>
                            <tr>
                                <td> Village: </td>
                                <td> {{ form_widget(form_availability.address2) }} </td>
                            </tr>

                            <tr> 
                                <td> Contact Phone: </td>
                                <td> {{ form_widget(form_availability.contact_phone) }} </td>
                            </tr>
                            <tr>
                                <td> Contact Email: </td>
                                <td> {{ form_widget(form_availability.contact_email) }} </td>
                            </tr>
                            <tr>
                                <td> {{ form_widget(form_availability.save_availability) }} </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>

<hr/>
                            
   <table class="list">
       <tr>
           <td>
                <div class="list-required">
                    <h2> Need List </h2>

                    <table style="border: 1px sold #ccc">
                        <tr>
                            <th> Required </th>
                            <th> District </th>
                            <th> Village </th>
                            <th> Phone </th>
                        </tr>

                    {% for requirement in requiredList %}
                        <tr>
                            <td> {{ requirement.profession }} </td>
                            <td> {{ requirement.address1 }} </td>
                            <td> {{ requirement.address2 }} </td>
                            <td> {{ requirement.contactPhone }} </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
           </td>
           
           <td>
                <div class="list-available">
                    <h2> Available List </h2>
                    <table style="border: 1px sold #ccc">
                        <tr>
                            <th> Required </th>
                            <th> District </th>
                            <th> Village </th>
                            <th> Phone </th>
                            <th> Email </th>
                        </tr>

                    {% for available in availableList %}
                        <tr>
                            <td> {{ available.profession }} </td>
                            <td> {{ available.address1 }} </td>
                            <td> {{ available.address2 }} </td>
                            <td> {{ available.contactPhone }} </td>
                            <td> {{ available.contactEmail }} </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
           </td>
       </tr>
   </table>
{% endblock %}